
.contenedor_form {
    height: 800px;
    width: 100%;
    background-color: #1e2f58;
    text-align: center;
   
}

.contenedor_form h3 {
    padding-top: 30px;
    color: white;
}
.contenedor_form h4 {
    color: black;
}
.formulario {
    margin-left: auto;
    margin-right: auto;
    height: 900px;
    width: 750px;
    background-color: white;
    margin-top: 20px;
}

.inputs {
    /*display: flex;*/
    display: block;
    padding-top: 20px;
}

.inputs input {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.inputs img {
    height: 200px;
    width: 200px;
}
